* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fffae6;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 3rem;
}

#wartung-blk-logo {
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 20px;
    z-index: 1;
}

@media (min-width: 1000px) {
    .hero-section-group {
        height: 80vh;
    }
}

@media (min-width: 2088px) {
    .text-hero-part {
        margin-top: 200px;
    }
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
}

.hero-section-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffe066;
    width: 95%;
    padding: 100px 50px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.text-hero-part {
    max-width: 700px;
    vertical-align: middle;
}

.text-hero-part p {
    padding-top: 15px;
    max-width: 450px;
}

.second-section-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}

.second-section-group-cards-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-section-card {
    background-color: #ffe066;
    padding: 25px 15px;
    border-radius: 8px;
}

.second-section-card span {
    background-color: red;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.second-section-group-text-part h2 {
    font-size: 2rem;
    font-weight: 400;
}

