* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fffae6;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 3rem;
}

@media (min-width: 1000px) {
    .hero-section-group {
        height: 80vh;
    }
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url('../images/hero-section-main-bg.jpeg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
}

.hero-section-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffe066;
    width: 90%;
    padding: 100px 50px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.text-hero-part {
    max-width: 700px;
}

.text-hero-part p {
    padding-top: 15px;
    max-width: 450px;
}